html {
    font-size: 100%;
    box-sizing: border-box;
}

a {
  color: black;
  font-family:Arial;
}

body {
 background-image: url("../wave.jpg");
 background-size: cover;
 background-color: #cccccc;
 margin: 0px;
 padding: 0px;
 min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}


nav {
    padding: 10px;

    @media (min-width: 600px){
        padding: 20px;
    }
}

nav.flexbox{
 ul {
list-style-type: none;
display: flex;
        align-items: center;
justify-content: space-around;
    }

    ul li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }

}

main{
display: flex;
justify-content: space-around;
        align-items: center;
}

article{
 display:flex;
 flex-direction:column; 
        align-items: center;
justify-content: space-around;
color:white;
 font-size: 3em;
}

h2{
padding:0.5em;
}

p{
 color:white;
 font-size: 0.5em;
padding:1.0em;

}

form{
 display:flex;
 flex-direction:column; 
justify-content: space-around;
        align-items: center;
color:white;
 font-size: 1.0em;
padding:1.0em;

}
